# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Py.test'
      'submenu': [
        {
          'label': 'Run test under cursor'
          'command': 'atom-python-test:run-test-under-cursor'
        }
        {
          'label': 'Run all tests'
          'command': 'atom-python-test:run-all-tests'
        }
        {
          'label': 'Run all tests (verbose)'
          'command': 'atom-python-test:run-all-tests-verbose'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Python Test'
      'submenu': [
        {
          'label': 'Run all tests'
          'command': 'atom-python-test:run-all-tests'
        }
      ]
    ]
  }
]
